{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://route53domains.amazonaws.com/"
        },
        {
            "url": "http://route53domains.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "Amazon Route 53 API actions let you register domain names and perform related operations.",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "Amazon Route 53 Domains",
        "version": "2014-05-15",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/route53domains-2014-05-15.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "route53domains"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://docs.aws.amazon.com/route53domains/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "This operation checks the availability of one domain name. Note that if the availability status of a domain is pending, you must submit another request to determine the availability of the domain name.",
                "operationId": "CheckDomainAvailability",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The CheckDomainAvailability response includes the following elements.",
                                    "properties": {
                                        "Availability": {
                                            "description": "<p>Whether the domain name is available for registering.</p> <note> <p>You can register only domains designated as <code>AVAILABLE</code>.</p> </note> <p>Valid values:</p> <dl> <dt>AVAILABLE</dt> <dd> <p>The domain name is available.</p> </dd> <dt>AVAILABLE_RESERVED</dt> <dd> <p>The domain name is reserved under specific conditions.</p> </dd> <dt>AVAILABLE_PREORDER</dt> <dd> <p>The domain name is available and can be preordered.</p> </dd> <dt>DONT_KNOW</dt> <dd> <p>The TLD registry didn't reply with a definitive answer about whether the domain name is available. Amazon Route 53 can return this response for a variety of reasons, for example, the registry is performing maintenance. Try again later.</p> </dd> <dt>PENDING</dt> <dd> <p>The TLD registry didn't return a response in the expected amount of time. When the response is delayed, it usually takes just a few extra seconds. You can resubmit the request immediately.</p> </dd> <dt>RESERVED</dt> <dd> <p>The domain name has been reserved for another person or organization.</p> </dd> <dt>UNAVAILABLE</dt> <dd> <p>The domain name is not available.</p> </dd> <dt>UNAVAILABLE_PREMIUM</dt> <dd> <p>The domain name is not available.</p> </dd> <dt>UNAVAILABLE_RESTRICTED</dt> <dd> <p>The domain name is forbidden.</p> </dd> </dl>",
                                            "enum": [
                                                "AVAILABLE",
                                                "AVAILABLE_RESERVED",
                                                "AVAILABLE_PREORDER",
                                                "UNAVAILABLE",
                                                "UNAVAILABLE_PREMIUM",
                                                "UNAVAILABLE_RESTRICTED",
                                                "RESERVED",
                                                "DONT_KNOW"
                                            ],
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "Availability"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidInput",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.",
                                    "properties": {
                                        "message": {
                                            "description": "The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "UnsupportedTLD",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Amazon Route 53 does not support this top-level domain (TLD).",
                                    "properties": {
                                        "message": {
                                            "description": "Amazon Route 53 does not support this top-level domain (TLD).",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "The CheckDomainAvailability request contains the following elements.",
                                "properties": {
                                    "DomainName": {
                                        "description": "<p>The name of the domain that you want to get availability for.</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p>",
                                        "maxLength": 255,
                                        "type": "string"
                                    },
                                    "IdnLangCode": {
                                        "description": "Reserved for future use.",
                                        "maxLength": 3,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "DomainName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CheckDomainTransferability": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Checks whether a domain name can be transferred to Amazon Route 53. ",
                "operationId": "CheckDomainTransferability",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The CheckDomainTransferability response includes the following elements.",
                                    "properties": {
                                        "Transferability": {
                                            "description": "A complex type that contains information about whether the specified domain can be transferred to Amazon Route 53.",
                                            "properties": {
                                                "Transferable": {
                                                    "description": "<p>Whether the domain name can be transferred to Amazon Route 53.</p> <note> <p>You can transfer only domains that have a value of <code>TRANSFERABLE</code> for <code>Transferable</code>.</p> </note> <p>Valid values:</p> <dl> <dt>TRANSFERABLE</dt> <dd> <p>The domain name can be transferred to Amazon Route 53.</p> </dd> <dt>UNTRANSFERRABLE</dt> <dd> <p>The domain name can't be transferred to Amazon Route 53.</p> </dd> <dt>DONT_KNOW</dt> <dd> <p>Reserved for future use.</p> </dd> </dl>",
                                                    "enum": [
                                                        "TRANSFERABLE",
                                                        "UNTRANSFERABLE",
                                                        "DONT_KNOW"
                                                    ],
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "required": [
                                        "Transferability"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidInput",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.",
                                    "properties": {
                                        "message": {
                                            "description": "The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "UnsupportedTLD",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Amazon Route 53 does not support this top-level domain (TLD).",
                                    "properties": {
                                        "message": {
                                            "description": "Amazon Route 53 does not support this top-level domain (TLD).",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "The CheckDomainTransferability request contains the following elements.",
                                "properties": {
                                    "AuthCode": {
                                        "description": "If the registrar for the top-level domain (TLD) requires an authorization code to transfer the domain, the code that you got from the current registrar for the domain.",
                                        "format": "password",
                                        "maxLength": 1024,
                                        "type": "string"
                                    },
                                    "DomainName": {
                                        "description": "<p>The name of the domain that you want to transfer to Amazon Route 53.</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p>",
                                        "maxLength": 255,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "DomainName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteTagsForDomain": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>This operation deletes the specified tags for a domain.</p> <p>All tag operations are eventually consistent; subsequent operations might not immediately represent all issued operations.</p>",
                "operationId": "DeleteTagsForDomain",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidInput",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.",
                                    "properties": {
                                        "message": {
                                            "description": "The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "OperationLimitExceeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The number of operations or jobs running exceeded the allowed threshold for the account.",
                                    "properties": {
                                        "message": {
                                            "description": "The number of operations or jobs running exceeded the allowed threshold for the account.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "UnsupportedTLD",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Amazon Route 53 does not support this top-level domain (TLD).",
                                    "properties": {
                                        "message": {
                                            "description": "Amazon Route 53 does not support this top-level domain (TLD).",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "The DeleteTagsForDomainRequest includes the following elements.",
                                "properties": {
                                    "DomainName": {
                                        "description": "The domain for which you want to delete one or more tags.",
                                        "maxLength": 255,
                                        "type": "string"
                                    },
                                    "TagsToDelete": {
                                        "description": "A list of tag keys to delete.",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "DomainName",
                                    "TagsToDelete"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DisableDomainAutoRenew": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "This operation disables automatic renewal of domain registration for the specified domain.",
                "operationId": "DisableDomainAutoRenew",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidInput",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.",
                                    "properties": {
                                        "message": {
                                            "description": "The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "UnsupportedTLD",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Amazon Route 53 does not support this top-level domain (TLD).",
                                    "properties": {
                                        "message": {
                                            "description": "Amazon Route 53 does not support this top-level domain (TLD).",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "DomainName": {
                                        "description": "The name of the domain that you want to disable automatic renewal for.",
                                        "maxLength": 255,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "DomainName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DisableDomainTransferLock": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "This operation removes the transfer lock on the domain (specifically the <code>clientTransferProhibited</code> status) to allow domain transfers. We recommend you refrain from performing this action unless you intend to transfer the domain to a different registrar. Successful submission returns an operation ID that you can use to track the progress and completion of the action. If the request is not completed successfully, the domain registrant will be notified by email.",
                "operationId": "DisableDomainTransferLock",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The DisableDomainTransferLock response includes the following element.",
                                    "properties": {
                                        "OperationId": {
                                            "description": "Identifier for tracking the progress of the request. To use this ID to query the operation status, use <a>GetOperationDetail</a>.",
                                            "maxLength": 255,
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "OperationId"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidInput",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.",
                                    "properties": {
                                        "message": {
                                            "description": "The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "DuplicateRequest",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The request is already in progress for the domain.",
                                    "properties": {
                                        "message": {
                                            "description": "The request is already in progress for the domain.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "TLDRulesViolation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The top-level domain does not support this operation.",
                                    "properties": {
                                        "message": {
                                            "description": "The top-level domain does not support this operation.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "483": {
                        "description": "OperationLimitExceeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The number of operations or jobs running exceeded the allowed threshold for the account.",
                                    "properties": {
                                        "message": {
                                            "description": "The number of operations or jobs running exceeded the allowed threshold for the account.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "484": {
                        "description": "UnsupportedTLD",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Amazon Route 53 does not support this top-level domain (TLD).",
                                    "properties": {
                                        "message": {
                                            "description": "Amazon Route 53 does not support this top-level domain (TLD).",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "The DisableDomainTransferLock request includes the following element.",
                                "properties": {
                                    "DomainName": {
                                        "description": "The name of the domain that you want to remove the transfer lock for.",
                                        "maxLength": 255,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "DomainName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#EnableDomainAutoRenew": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>This operation configures Amazon Route 53 to automatically renew the specified domain before the domain registration expires. The cost of renewing your domain registration is billed to your AWS account.</p> <p>The period during which you can renew a domain name varies by TLD. For a list of TLDs and their renewal policies, see <a href=\"http://wiki.gandi.net/en/domains/renew#renewal_restoration_and_deletion_times\">\"Renewal, restoration, and deletion times\"</a> on the website for our registrar associate, Gandi. Amazon Route 53 requires that you renew before the end of the renewal period that is listed on the Gandi website so we can complete processing before the deadline.</p>",
                "operationId": "EnableDomainAutoRenew",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidInput",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.",
                                    "properties": {
                                        "message": {
                                            "description": "The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "UnsupportedTLD",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Amazon Route 53 does not support this top-level domain (TLD).",
                                    "properties": {
                                        "message": {
                                            "description": "Amazon Route 53 does not support this top-level domain (TLD).",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "TLDRulesViolation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The top-level domain does not support this operation.",
                                    "properties": {
                                        "message": {
                                            "description": "The top-level domain does not support this operation.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "DomainName": {
                                        "description": "The name of the domain that you want to enable automatic renewal for.",
                                        "maxLength": 255,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "DomainName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#EnableDomainTransferLock": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "This operation sets the transfer lock on the domain (specifically the <code>clientTransferProhibited</code> status) to prevent domain transfers. Successful submission returns an operation ID that you can use to track the progress and completion of the action. If the request is not completed successfully, the domain registrant will be notified by email.",
                "operationId": "EnableDomainTransferLock",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The EnableDomainTransferLock response includes the following elements.",
                                    "properties": {
                                        "OperationId": {
                                            "description": "Identifier for tracking the progress of the request. To use this ID to query the operation status, use GetOperationDetail.",
                                            "maxLength": 255,
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "OperationId"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidInput",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.",
                                    "properties": {
                                        "message": {
                                            "description": "The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "DuplicateRequest",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The request is already in progress for the domain.",
                                    "properties": {
                                        "message": {
                                            "description": "The request is already in progress for the domain.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "TLDRulesViolation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The top-level domain does not support this operation.",
                                    "properties": {
                                        "message": {
                                            "description": "The top-level domain does not support this operation.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "483": {
                        "description": "OperationLimitExceeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The number of operations or jobs running exceeded the allowed threshold for the account.",
                                    "properties": {
                                        "message": {
                                            "description": "The number of operations or jobs running exceeded the allowed threshold for the account.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "484": {
                        "description": "UnsupportedTLD",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Amazon Route 53 does not support this top-level domain (TLD).",
                                    "properties": {
                                        "message": {
                                            "description": "Amazon Route 53 does not support this top-level domain (TLD).",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "A request to set the transfer lock for the specified domain.",
                                "properties": {
                                    "DomainName": {
                                        "description": "The name of the domain that you want to set the transfer lock for.",
                                        "maxLength": 255,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "DomainName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#GetContactReachabilityStatus": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>For operations that require confirmation that the email address for the registrant contact is valid, such as registering a new domain, this operation returns information about whether the registrant contact has responded.</p> <p>If you want us to resend the email, use the <code>ResendContactReachabilityEmail</code> operation.</p>",
                "operationId": "GetContactReachabilityStatus",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "domainName": {
                                            "description": "The domain name for which you requested the reachability status.",
                                            "maxLength": 255,
                                            "type": "string"
                                        },
                                        "status": {
                                            "description": "<p>Whether the registrant contact has responded. Values include the following:</p> <dl> <dt>PENDING</dt> <dd> <p>We sent the confirmation email and haven't received a response yet.</p> </dd> <dt>DONE</dt> <dd> <p>We sent the email and got confirmation from the registrant contact.</p> </dd> <dt>EXPIRED</dt> <dd> <p>The time limit expired before the registrant contact responded.</p> </dd> </dl>",
                                            "enum": [
                                                "PENDING",
                                                "DONE",
                                                "EXPIRED"
                                            ],
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidInput",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.",
                                    "properties": {
                                        "message": {
                                            "description": "The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "OperationLimitExceeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The number of operations or jobs running exceeded the allowed threshold for the account.",
                                    "properties": {
                                        "message": {
                                            "description": "The number of operations or jobs running exceeded the allowed threshold for the account.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "UnsupportedTLD",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Amazon Route 53 does not support this top-level domain (TLD).",
                                    "properties": {
                                        "message": {
                                            "description": "Amazon Route 53 does not support this top-level domain (TLD).",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "domainName": {
                                        "description": "The name of the domain for which you want to know whether the registrant contact has confirmed that the email address is valid.",
                                        "maxLength": 255,
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#GetDomainDetail": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "This operation returns detailed information about a specified domain that is associated with the current AWS account. Contact information for the domain is also returned as part of the output.",
                "operationId": "GetDomainDetail",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The GetDomainDetail response includes the following elements.",
                                    "properties": {
                                        "AbuseContactEmail": {
                                            "description": "Email address to contact to report incorrect contact information for a domain, to report that the domain is being used to send spam, to report that someone is cybersquatting on a domain name, or report some other type of abuse.",
                                            "maxLength": 254,
                                            "type": "string"
                                        },
                                        "AbuseContactPhone": {
                                            "description": "Phone number for reporting abuse.",
                                            "maxLength": 30,
                                            "type": "string"
                                        },
                                        "AdminContact": {
                                            "description": "Provides details about the domain administrative contact.",
                                            "properties": {
                                                "AddressLine1": {
                                                    "description": "First line of the contact's address.",
                                                    "maxLength": 255,
                                                    "type": "string"
                                                },
                                                "AddressLine2": {
                                                    "description": "Second line of contact's address, if any.",
                                                    "maxLength": 255,
                                                    "type": "string"
                                                },
                                                "City": {
                                                    "description": "The city of the contact's address.",
                                                    "maxLength": 255,
                                                    "type": "string"
                                                },
                                                "ContactType": {
                                                    "description": "Indicates whether the contact is a person, company, association, or public organization. If you choose an option other than <code>PERSON</code>, you must enter an organization name, and you can't enable privacy protection for the contact.",
                                                    "enum": [
                                                        "PERSON",
                                                        "COMPANY",
                                                        "ASSOCIATION",
                                                        "PUBLIC_BODY",
                                                        "RESELLER"
                                                    ],
                                                    "type": "string"
                                                },
                                                "CountryCode": {
                                                    "description": "Code for the country of the contact's address.",
                                                    "enum": [
                                                        "AD",
                                                        "AE",
                                                        "AF",
                                                        "AG",
                                                        "AI",
                                                        "AL",
                                                        "AM",
                                                        "AN",
                                                        "AO",
                                                        "AQ",
                                                        "AR",
                                                        "AS",
                                                        "AT",
                                                        "AU",
                                                        "AW",
                                                        "AZ",
                                                        "BA",
                                                        "BB",
                                                        "BD",
                                                        "BE",
                                                        "BF",
                                                        "BG",
                                                        "BH",
                                                        "BI",
                                                        "BJ",
                                                        "BL",
                                                        "BM",
                                                        "BN",
                                                        "BO",
                                                        "BR",
                                                        "BS",
                                                        "BT",
                                                        "BW",
                                                        "BY",
                                                        "BZ",
                                                        "CA",
                                                        "CC",
                                                        "CD",
                                                        "CF",
                                                        "CG",
                                                        "CH",
                                                        "CI",
                                                        "CK",
                                                        "CL",
                                                        "CM",
                                                        "CN",
                                                        "CO",
                                                        "CR",
                                                        "CU",
                                                        "CV",
                                                        "CX",
                                                        "CY",
                                                        "CZ",
                                                        "DE",
                                                        "DJ",
                                                        "DK",
                                                        "DM",
                                                        "DO",
                                                        "DZ",
                                                        "EC",
                                                        "EE",
                                                        "EG",
                                                        "ER",
                                                        "ES",
                                                        "ET",
                                                        "FI",
                                                        "FJ",
                                                        "FK",
                                                        "FM",
                                                        "FO",
                                                        "FR",
                                                        "GA",
                                                        "GB",
                                                        "GD",
                                                        "GE",
                                                        "GH",
                                                        "GI",
                                                        "GL",
                                                        "GM",
                                                        "GN",
                                                        "GQ",
                                                        "GR",
                                                        "GT",
                                                        "GU",
                                                        "GW",
                                                        "GY",
                                                        "HK",
                                                        "HN",
                                                        "HR",
                                                        "HT",
                                                        "HU",
                                                        "ID",
                                                        "IE",
                                                        "IL",
                                                        "IM",
                                                        "IN",
                                                        "IQ",
                                                        "IR",
                                                        "IS",
                                                        "IT",
                                                        "JM",
                                                        "JO",
                                                        "JP",
                                                        "KE",
                                                        "KG",
                                                        "KH",
                                                        "KI",
                                                        "KM",
                                                        "KN",
                                                        "KP",
                                                        "KR",
                                                        "KW",
                                                        "KY",
                                                        "KZ",
                                                        "LA",
                                                        "LB",
                                                        "LC",
                                                        "LI",
                                                        "LK",
                                                        "LR",
                                                        "LS",
                                                        "LT",
                                                        "LU",
                                                        "LV",
                                                        "LY",
                                                        "MA",
                                                        "MC",
                                                        "MD",
                                                        "ME",
                                                        "MF",
                                                        "MG",
                                                        "MH",
                                                        "MK",
                                                        "ML",
                                                        "MM",
                                                        "MN",
                                                        "MO",
                                                        "MP",
                                                        "MR",
                                                        "MS",
                                                        "MT",
                                                        "MU",
                                                        "MV",
                                                        "MW",
                                                        "MX",
                                                        "MY",
                                                        "MZ",
                                                        "NA",
                                                        "NC",
                                                        "NE",
                                                        "NG",
                                                        "NI",
                                                        "NL",
                                                        "NO",
                                                        "NP",
                                                        "NR",
                                                        "NU",
                                                        "NZ",
                                                        "OM",
                                                        "PA",
                                                        "PE",
                                                        "PF",
                                                        "PG",
                                                        "PH",
                                                        "PK",
                                                        "PL",
                                                        "PM",
                                                        "PN",
                                                        "PR",
                                                        "PT",
                                                        "PW",
                                                        "PY",
                                                        "QA",
                                                        "RO",
                                                        "RS",
                                                        "RU",
                                                        "RW",
                                                        "SA",
                                                        "SB",
                                                        "SC",
                                                        "SD",
                                                        "SE",
                                                        "SG",
                                                        "SH",
                                                        "SI",
                                                        "SK",
                                                        "SL",
                                                        "SM",
                                                        "SN",
                                                        "SO",
                                                        "SR",
                                                        "ST",
                                                        "SV",
                                                        "SY",
                                                        "SZ",
                                                        "TC",
                                                        "TD",
                                                        "TG",
                                                        "TH",
                                                        "TJ",
                                                        "TK",
                                                        "TL",
                                                        "TM",
                                                        "TN",
                                                        "TO",
                                                        "TR",
                                                        "TT",
                                                        "TV",
                                                        "TW",
                                                        "TZ",
                                                        "UA",
                                                        "UG",
                                                        "US",
                                                        "UY",
                                                        "UZ",
                                                        "VA",
                                                        "VC",
                                                        "VE",
                                                        "VG",
                                                        "VI",
                                                        "VN",
                                                        "VU",
                                                        "WF",
                                                        "WS",
                                                        "YE",
                                                        "YT",
                                                        "ZA",
                                                        "ZM",
                                                        "ZW"
                                                    ],
                                                    "type": "string"
                                                },
                                                "Email": {
                                                    "description": "Email address of the contact.",
                                                    "maxLength": 254,
                                                    "type": "string"
                                                },
                                                "ExtraParams": {
                                                    "description": "A list of name-value pairs for parameters required by certain top-level domains.",
                                                    "items": {
                                                        "description": "ExtraParam includes the following elements.",
                                                        "properties": {
                                                            "Name": {
                                                                "description": "<p>Name of the additional parameter required by the top-level domain. Here are the top-level domains that require additional parameters and which parameters they require:</p> <ul> <li> <p> <b>.com.au and .net.au:</b> <code>AU_ID_NUMBER</code> and <code>AU_ID_TYPE</code> </p> </li> <li> <p> <b>.ca:</b> <code>BRAND_NUMBER</code>, <code>CA_LEGAL_TYPE</code>, and <code>CA_BUSINESS_ENTITY_TYPE</code> </p> </li> <li> <p> <b>.es:</b> <code>ES_IDENTIFICATION</code>, <code>ES_IDENTIFICATION_TYPE</code>, and <code>ES_LEGAL_FORM</code> </p> </li> <li> <p> <b>.fi:</b> <code>BIRTH_DATE_IN_YYYY_MM_DD</code>, <code>FI_BUSINESS_NUMBER</code>, <code>FI_ID_NUMBER</code>, <code>FI_NATIONALITY</code>, and <code>FI_ORGANIZATION_TYPE</code> </p> </li> <li> <p> <b>.fr:</b> <code>BRAND_NUMBER</code>, <code>BIRTH_DEPARTMENT</code>, <code>BIRTH_DATE_IN_YYYY_MM_DD</code>, <code>BIRTH_COUNTRY</code>, and <code>BIRTH_CITY</code> </p> </li> <li> <p> <b>.it:</b> <code>BIRTH_COUNTRY</code>, <code>IT_PIN</code>, and <code>IT_REGISTRANT_ENTITY_TYPE</code> </p> </li> <li> <p> <b>.ru:</b> <code>BIRTH_DATE_IN_YYYY_MM_DD</code> and <code>RU_PASSPORT_DATA</code> </p> </li> <li> <p> <b>.se:</b> <code>BIRTH_COUNTRY</code> and <code>SE_ID_NUMBER</code> </p> </li> <li> <p> <b>.sg:</b> <code>SG_ID_NUMBER</code> </p> </li> <li> <p> <b>.co.uk, .me.uk, and .org.uk:</b> <code>UK_CONTACT_TYPE</code> and <code>UK_COMPANY_NUMBER</code> </p> </li> </ul> <p>In addition, many TLDs require <code>VAT_NUMBER</code>.</p>",
                                                                "enum": [
                                                                    "DUNS_NUMBER",
                                                                    "BRAND_NUMBER",
                                                                    "BIRTH_DEPARTMENT",
                                                                    "BIRTH_DATE_IN_YYYY_MM_DD",
                                                                    "BIRTH_COUNTRY",
                                                                    "BIRTH_CITY",
                                                                    "DOCUMENT_NUMBER",
                                                                    "AU_ID_NUMBER",
                                                                    "AU_ID_TYPE",
                                                                    "CA_LEGAL_TYPE",
                                                                    "CA_BUSINESS_ENTITY_TYPE",
                                                                    "ES_IDENTIFICATION",
                                                                    "ES_IDENTIFICATION_TYPE",
                                                                    "ES_LEGAL_FORM",
                                                                    "FI_BUSINESS_NUMBER",
                                                                    "FI_ID_NUMBER",
                                                                    "FI_NATIONALITY",
                                                                    "FI_ORGANIZATION_TYPE",
                                                                    "IT_PIN",
                                                                    "IT_REGISTRANT_ENTITY_TYPE",
                                                                    "RU_PASSPORT_DATA",
                                                                    "SE_ID_NUMBER",
                                                                    "SG_ID_NUMBER",
                                                                    "VAT_NUMBER",
                                                                    "UK_CONTACT_TYPE",
                                                                    "UK_COMPANY_NUMBER"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "Value": {
                                                                "description": "Values corresponding to the additional parameter names required by some top-level domains.",
                                                                "maxLength": 2048,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "Name",
                                                            "Value"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "Fax": {
                                                    "description": "<p>Fax number of the contact.</p> <p>Constraints: Phone number must be specified in the format \"+[country dialing code].[number including any area code]\". For example, a US phone number might appear as <code>\"+1.1234567890\"</code>.</p>",
                                                    "maxLength": 30,
                                                    "type": "string"
                                                },
                                                "FirstName": {
                                                    "description": "First name of contact.",
                                                    "maxLength": 255,
                                                    "type": "string"
                                                },
                                                "LastName": {
                                                    "description": "Last name of contact.",
                                                    "maxLength": 255,
                                                    "type": "string"
                                                },
                                                "OrganizationName": {
                                                    "description": "Name of the organization for contact types other than <code>PERSON</code>.",
                                                    "maxLength": 255,
                                                    "type": "string"
                                                },
                                                "PhoneNumber": {
                                                    "description": "<p>The phone number of the contact.</p> <p>Constraints: Phone number must be specified in the format \"+[country dialing code].[number including any area code&gt;]\". For example, a US phone number might appear as <code>\"+1.1234567890\"</code>.</p>",
                                                    "maxLength": 30,
                                                    "type": "string"
                                                },
                                                "State": {
                                                    "description": "The state or province of the contact's city.",
                                                    "maxLength": 255,
                                                    "type": "string"
                                                },
                                                "ZipCode": {
                                                    "description": "The zip or postal code of the contact's address.",
                                                    "maxLength": 255,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "AdminPrivacy": {
                                            "description": "Specifies whether contact information is concealed from WHOIS queries. If the value is <code>true</code>, WHOIS (\"who is\") queries return contact information either for Amazon Registrar (for .com, .net, and .org domains) or for our registrar associate, Gandi (for all other TLDs). If the value is <code>false</code>, WHOIS queries return the information that you entered for the admin contact.",
                                            "type": "boolean"
                                        },
                                        "AutoRenew": {
                                            "description": "Specifies whether the domain registration is set to renew automatically.",
                                            "type": "boolean"
                                        },
                                        "CreationDate": {
[...]
